* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial;
    color: #444444; 
}

h1 {
    text-align: center;
}

section {
    background-color: lightyellow;
    margin: 20px;
    border: 1px solid plum;
    border-radius: 5px;
}

.shukto {
    background-color: #ccff66;
}

.ilish {
    background-color: #ffcc66;
}

.roshogolla {
    background-color: #e6e6e6;
}

section > div:first-child {
    float: right;
    position: relative;
    padding: 5px 10px;
    border-radius: 3px;
}

section > div:nth-child(2) {
    clear: right;
    padding: 0 10px 10px 10px;
}

@media (min-width: 992px) {
    .lg {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md {
        float: left;
        width: 50%;
    }
    
    #last-sec {
        clear: left;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .sm {
        float: left;
        width: 100%;
    }
}